@model IEnumerable<ProjectXWebApp.Models.GradesModel>

@{
    ViewBag.Title = "GetGrades";
    Layout = "~/Views/Shared/_ProjectXLayout.cshtml";
}

<h2>Grades List</h2>

<p>
    @Html.ActionLink("Add New Grades", "AddNewGrades")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParticipantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marks_Obtained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipantID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marks_Obtained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseID)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
